img {max-width: 100%;}
#Photos, #ImageGallery {
margin:auto;
max-width: 1440px;     
}
.gallery {
display: grid;
grid-gap: 0;
grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
grid-auto-rows: 365px;
grid-auto-flow: dense;
}
.horizontal {
grid-column: span 2;
}
.vertical {
grid-row: span 2;
}
.big {
grid-column: span 2;
grid-row: span 2;
}
.gallery div:nth-child(odd) img {
transform: rotate(2deg);    
}
.gallery div:nth-child(even) img {
transform: rotate(-2deg);    
}
.gallery div:nth-child(6n+1), .gallery .vertical {
position:relative;
}
.gallery div:nth-child(6n+1) img {
transform: rotate(5deg);
}
.gallery img {
border:20px solid #fff;
border-bottom-width: 80px;
box-shadow:0 0 15px rgb(0 0 0 / 50%),  0 0 1px rgba(255,255,255,0);
/* antialiasing to remove jagged edges in Chrome */
outline: 1px solid transparent;
-webkit-backface-visibility: hidden;
transform: translateZ(0);
will-change: transform;
-webkit-perspective: 1000;

}
.gallery .vertical {        
transform: rotate(-4deg);
}
.gallery .vertical img{
position:absolute;
top:0;
bottom:0;
margin:auto;
}
.gallery div:nth-child(6n+1)::before, 
.gallery .vertical::before {
content:"";
width:99%;
height:95%;
background:#fff;
position:absolute;
right:0;
top:0;
bottom:0;
margin:auto;
box-shadow:0 0 15px rgb(0 0 0 / 50%),  0 0 1px rgba(255,255,255,0);
transform: rotate(4deg);
}
.gallery div:nth-child(6n+1)::before {
transform: rotate(0deg);
}